@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-MediumItalic.eot");
  src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"),
    url("Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("Montserrat-MediumItalic.woff2") format("woff2"),
    url("Montserrat-MediumItalic.woff") format("woff"),
    url("Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Italic.eot");
  src: local("Montserrat Italic"), local("Montserrat-Italic"),
    url("Montserrat-Italic.eot?#iefix") format("embedded-opentype"),
    url("Montserrat-Italic.woff2") format("woff2"),
    url("Montserrat-Italic.woff") format("woff"),
    url("Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("Montserrat-Regular.woff2") format("woff2"),
    url("Montserrat-Regular.woff") format("woff"),
    url("Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
    url("Montserrat-Bold.woff2") format("woff2"),
    url("Montserrat-Bold.woff") format("woff"),
    url("Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Medium.eot");
  src: local("Montserrat Medium"), local("Montserrat-Medium"),
    url("Montserrat-Medium.eot?#iefix") format("embedded-opentype"),
    url("Montserrat-Medium.woff2") format("woff2"),
    url("Montserrat-Medium.woff") format("woff"),
    url("Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-SemiBoldItalic.eot");
  src: local("Montserrat SemiBold Italic"), local("Montserrat-SemiBoldItalic"),
    url("Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("Montserrat-SemiBoldItalic.woff2") format("woff2"),
    url("Montserrat-SemiBoldItalic.woff") format("woff"),
    url("Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-BoldItalic.eot");
  src: local("Montserrat Bold Italic"), local("Montserrat-BoldItalic"),
    url("Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("Montserrat-BoldItalic.woff2") format("woff2"),
    url("Montserrat-BoldItalic.woff") format("woff"),
    url("Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("Montserrat-SemiBold.woff2") format("woff2"),
    url("Montserrat-SemiBold.woff") format("woff"),
    url("Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
