body {
  background-color: $white;
  font-size: 18px;
  line-height: 140%;
  color: $black;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.hidden {
  display: none;
}
