@import "vars";

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1200px;
  }
  .watch__info-list {
    gap: 25px;
  }
  .filter__addbox {
    max-width: 800px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1024px;
  }
  .filter__addbox {
    max-width: 640px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 720px;
  }
  .watch__info-box,
  .watch__info-contentbox {
    display: none;
  }
  .watch__info-content {
    color: $black;
    font-weight: 400;
  }
  .watch__info-button.active {
    padding-left: 0;
  }
  .watch__mobile {
    display: block;
  }
  .watch__mobile-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    font-size: 24px;
    line-height: 130%;
  }
  .watch__info-button {
    max-width: none;
  }
  .watch__info-button span {
    font-weight: 600;
    display: inline-block;
  }
  .watch__info-arrow {
    transform: translateY(75%);
  }
  .watch__info-image {
    padding-top: 30px;
    display: block;
    img {
      width: 100%;
      max-width: none;
    }
  }
  .watch__title {
    font-size: 32px;
    line-height: 110%;
    margin-bottom: 40px;
    max-width: 610px;
  }
  .watch__info-text {
  }
  .watch__info-content {
    max-width: none;
  }
  .watch__info-included {
    padding-top: 0;
  }

  // blog-page
  .breadcrubs {
    font-size: 25px;
    line-height: 30px;
  }
  .article__slider-img {
    img {
      height: 564px;
    }
  }
  .article__banner {
    padding: 70px 7px 0 30px;
  }
  .article__banner-title {
    font-size: 36px;
  }

  // blog-about
  .top-blog__titlebox {
    padding: 0;
    padding-top: 170px;
    margin: auto;
  }
  .banner-maximum {
    border-radius: 15px;
  }
  .banner-maximum__inner {
    text-align: left;
  }
  .banner-maximum__title {
    text-align: center;
    font-size: 48px;
    padding: 64px 0 0;
    margin-bottom: 160px;
  }
  .banner-maximum__discount {
    text-align: right;
    margin-bottom: 30px;
  }
  .banner-maximum__btnwrapper {
    padding: 0 20px;
    text-align: center;
  }
  .banner-maximum__btn {
    width: 100%;
  }
  .card__inner {
    justify-content: center;
    gap: 40px;
  }
  .filter__addbox--desktop {
    display: none;
  }
  .filter__addbox--mob {
    display: none;
  }
  .filter__addbox--table {
    display: flex;
    margin: 17px 0 30px;
    flex-wrap: wrap;
    gap: 10px;
  }
  .filter__add {
    margin-right: 0;
  }
  // blog-main
  .banner-maximum__btn--main {
    width: auto;
  }
  .blog-main__slider-img {
    height: 400px;
  }
  .more-btn {
    max-width: none;
  }
  .card__item {
    max-width: 340px;
  }
  .card__item-link::after {
    width: 160px;
  }
  .card__item-img {
    max-width: 340px;
    img {
      height: 320px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .watch__info-item {
    font-size: 18px;
    line-height: 130%;
    max-width: 235px;
  }
  .watch__title {
    font-size: 28px;
  }
  .watch__question {
    font-size: 20px;
  }

  // blog-page
  .article__slider {
    margin-bottom: 10px;
  }
  .article__info-quote {
    max-width: 700px;
    font-size: 24px;
  }
  .article__info-video iframe {
    height: 364px;
  }
  .breadcrubs {
    font-size: 16px;
  }
  .article {
    padding: 40px 0 60px;
  }
  .card__slider--page {
    .slick-list {
      margin-right: -10px;
    }
    .slick-slide {
      margin-right: 10px;
    }
  }
  .card__slider-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .card__slider--page {
    .swiper-slide {
      width: 250px !important;
    }
  }
  .card__slider-prompt {
    display: block;
  }

  // blog-about
  .card__item {
    max-width: 250px;
    height: 429px;
  }
  .card__item-title {
    font-size: 15px;
    line-height: 100%;
  }
  .card__item-link::after {
    width: 95px;
  }
  .banner-maximum__title {
    padding-top: 64px;
    font-size: 38px;
  }
  .card__item-img {
    img {
      height: 207px;
      width: 100%;
    }
  }
  .content-blog__filters {
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 15px;
  }
  .content-blog__select {
    max-width: 445px;
    margin: 0 auto;
  }
  .dropdown__button {
    font-size: 33px;
    width: 100%;
    height: 60px;
    text-align: left;
    padding: 10px 18px;
    max-width: none;
  }
  .filter {
    max-width: 445px;
    width: 100%;
    margin: 0 auto;
    order: 1;
    height: 60px;
    text-align: left;
  }
  .filter__name {
    padding: 10px 18px;
    font-size: 33px;
  }
  .filter__add {
    margin-right: 10px;
    font-size: 24px;
    padding: 4px 30px 4px 7px;
  }
  .filter__add::after {
    right: 6px;
    top: 12px;
  }
  .filter__addbox--table {
    display: none;
  }
  .filter__addbox,
  .filter__addbox--mob {
    overflow-x: scroll;
  }
  .filter__addbox--mob {
    flex-wrap: nowrap;
    display: flex;
    max-width: 640px;
  }
  .filter__addbox-container {
    max-width: 700px;
    margin: 0 auto;
    padding-left: calc(29px + (120) * ((100vw - 320px) / (1400 - 320)));
  }
  .filter__content--open {
    top: 130px;
    max-width: 540px;
    flex-direction: column;
  }
  .filter__content-box {
    width: 100%;
    border-top: 1px solid rgba($color: $black, $alpha: 0.2);
    padding-top: 20px;
    margin-bottom: 20px;
  }
  .filter__content-box--radio {
    max-width: none;
    margin-left: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba($color: $black, $alpha: 0.2);
    height: 100%;
  }
  .filter__content-closebtn {
    display: block;
  }
  .filter__content-title {
    margin-bottom: 0;
  }
  .filter__content-titlebox {
    height: 29px;
  }
  .filter__content-item {
    font-size: 20px;
  }
  .filter__content-btn {
    font-size: 18px;
  }
  .filter__content-btn::after {
    top: 4px;
  }
  .filter__content-list--radio {
    margin-top: 15px;
  }

  .dropdown__button::after,
  .filter::after {
    background-repeat: no-repeat;
    background-size: cover;
    width: 22px;
    height: 11px;
    right: 17px;
    top: 22px;
  }
  .dropdown__list {
    top: 60px;
  }
  .filter__content-list {
  }
  .filter__content-closebtn.open-btn {
    transform: rotate(135deg);
  }
  .filter__content-listwrapper {
    margin-top: 15px;
    height: 100%;
    max-width: 380px;
  }
  .filter__addbox--mob::-webkit-scrollbar {
    width: 0;
  }
  .filter__content-listwrapper.hidden {
    display: none;
  }
  .filter__content {
    height: auto;
  }
  .filter__content-submit {
    position: static;
    order: 1;
  }
  .filter__content-clear {
    position: static;
  }
  .filter__content-buttons {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  // blog-main
  .banner-maximum__title--main {
    font-size: 32px;
  }
  .banner-maximum__text {
    font-size: 16px;
    margin-bottom: 160px;
  }
  .card__item-tags {
    padding-bottom: 10px;
  }
  .breadcrubs__list-blog-main {
    font-size: 25px;
    line-height: 30px;
  }
  .blog-main__list {
    top: 75px;
  }
  .card__item-img {
    height: 207px;
  }
  .card__dateandtime {
    margin-bottom: 21px;
  }
}

@media screen and (max-width: 680px) {
  .filter__addbox-container {
    padding-left: 70px;
  }
}
@media screen and (max-width: 660px) {
  .filter__addbox-container {
    padding-left: 60px;
  }
}

@media screen and (max-width: 648px) {
  .filter__content--open {
    max-width: 500px;
    left: 20px;
  }
  .filter__addbox-container {
    padding-left: 56px;
  }
}

@media screen and (max-width: 640px) {
  .filter__addbox-container {
    padding-left: 50px;
  }
}
@media screen and (max-width: 620px) {
  .filter__addbox-container {
    padding-left: 40px;
  }
}
@media screen and (max-width: 600px) {
  .filter__addbox-container {
    padding-left: 30px;
  }
}
@media screen and (max-width: 580px) {
  .filter__addbox-container {
    padding-left: 20px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 375px;
  }
  .watch__question {
    font-size: 16px;
  }
  .watch__title {
    font-size: 24px;
    line-height: 110%;
    margin-bottom: 30px;
  }
  .watch__info-included {
    padding-bottom: 10px;
    font-size: 16px;
  }
  .watch__info-button span {
    font-size: 18px;
  }
  .watch__info-image {
    margin-bottom: 20px;
  }
  .watch__info-text {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .watch__info-item {
    max-width: none;
  }

  // blog-page
  .breadcrubs__list {
    flex-wrap: wrap;
  }
  .article__choose-list {
    flex-wrap: wrap;
    gap: 10px;
  }
  .article__choose-item {
    margin-right: 0;
  }
  .article__title {
    font-size: 38px;
  }
  .article__slider-img img {
    height: 364px;
  }
  .article__slider .slick-next,
  .article__slider .slick-prev {
    transform: translateX(-10%);
  }
  .article__info-initialletter {
    font-size: 76px;
    line-height: 76px;
  }
  .article__info-signature {
    flex-wrap: wrap;
    gap: 5px;
  }
  .article__info-box {
    margin-bottom: 20px;
  }
  .article__info-quote {
    margin: 30px 0 10px;
    font-size: 18px;
    padding-right: 0;
  }
  .article__info-video {
    margin: 10px 0 25px;
  }
  .article__info-author {
    margin-bottom: 35px;
  }
  .article__banner-title {
    font-size: 20px;
  }
  .article__banner {
    padding: 90px 10px 0 20px;
  }
  .article__banner-btn {
    width: 100%;
    text-align: center;
  }
  .card__item.card__item--page {
    max-width: 230px;
    .card__item-link::after {
      width: 70px;
    }
  }
  .card__slider--page {
    .swiper-slide {
      width: 230px !important;
    }
  }

  // blog-about
  .top-blog {
    min-height: 380px;
  }
  .top-blog__titlebox {
    padding-top: 135px;
  }
  .top-blog__title {
    font-size: 34px;
  }
  .top-blog__text {
    font-size: 16px;
  }
  .card__item {
    max-width: 375px;
  }
  .card__dateandtime {
    margin-bottom: 18.5px;
  }
  .card__item-box {
    padding: 18.5px 10px 0;
  }
  .card__item-link::after {
    width: 220px;
  }
  .banner-maximum__title {
    font-size: 34px;
    margin-bottom: 140px;
  }
  .banner-maximum__discount {
    text-align: center;
    padding-right: 0;
  }
  .banner-maximum__discount {
    font-size: 16px;
  }
  .banner-maximum__discount span {
    font-size: 32px;
  }
  .dropdown__button {
    font-size: 24px;
  }
  .filter__name {
    font-size: 24px;
  }
  .filter__content--open {
    top: 130px;
    max-width: 335px;
    left: 0px;
  }
  .filter__content-listwrapper {
    margin-top: 25px;
    max-width: none;
    align-items: center;
  }
  .filter__content-list--radio {
    margin-top: 25px;
  }
  .filter__content-buttons {
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .filter__content-clear {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
  }
  .filter__content-submitbtn {
    width: 230px;
  }
  .filter__content-submit {
    order: 0;
  }
  .filter__addbox-container {
    padding-left: 101px;
  }
  .dropdown__button::after,
  .filter::after {
    height: 12px;
  }
  .filter__content-submitbtn {
    height: 38px;
  }
  // blog-main
  .banner-maximum__inner--main {
    text-align: center;
    padding: 40px 10px 40px 10px;
  }
  .banner-maximum__title--main {
    font-size: 24px;
  }
  .banner-maximum__suptitle {
    font-size: 16px;
  }
  .banner-maximum__text {
    font-size: 16px;
    margin-bottom: 176px;
    max-width: none;
  }
  .card__item-img {
    max-width: none;
    height: 207px;
  }
  .ticker__item {
    font-size: 62px;
    width: 390px;
  }
  .swiper-pagination {
    padding-top: 80px;
    // padding-bottom: 10px;
    // overflow-x: scroll;
  }
  .blog-main__question {
    bottom: 165px;
  }

  .blog-main__slider {
    padding-bottom: 80px;
  }
  .card__inner-title {
    margin-bottom: 30px;
    font-size: 24px;
  }
}

@media screen and (max-width: 550px) {
  .filter__addbox-container {
    padding-left: 90px;
  }
}

@media screen and (max-width: 530px) {
  .filter__addbox-container {
    padding-left: 80px;
  }
}

@media screen and (max-width: 510px) {
  .filter__addbox-container {
    padding-left: 70px;
  }
}

@media screen and (max-width: 492px) {
  .filter__content--open {
    left: 0;
  }
  .filter__addbox-container {
    padding-left: 60px;
  }
}

@media screen and (max-width: 470px) {
  .filter__addbox-container {
    padding-left: 50px;
  }
}
@media screen and (max-width: 450px) {
  .filter__addbox-container {
    padding-left: 40px;
  }
}

@media screen and (max-width: 440px) {
  .filter__content--open {
    left: 0;
    max-width: 325px;
  }
  .filter__addbox-container {
    padding-left: 35px;
  }
}

@media screen and (max-width: 420px) {
  .filter__addbox-container {
    padding-left: 25px;
  }
}

@media screen and (max-width: 400px) {
  .filter__content--open {
    left: 0;
  }
  .filter__addbox-container {
    padding-left: 15px;
  }
}

@media screen and (max-width: 390px) {
  .filter__addbox-container {
    padding-left: 10px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    max-width: 300px;
    width: 100%;
  }
  .watch__question {
    font-size: 14px;
  }
  .watch__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .watch__info-included {
    padding-bottom: 10px;
    font-size: 14px;
  }
  .watch__info-button span {
    font-size: 16px;
  }
  .watch__info-image {
    margin-bottom: 20px;
  }
  .watch__info-text {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .watch__info-arrow {
    right: 10px;
    top: 12px;
    svg {
      width: 24px;
      height: 24px;
    }
  }

  // blog-page
  .article__title {
    font-size: 24px;
  }
  .article__slider-img img {
    height: 280px;
  }
  .slick-arrow {
    img {
      width: 36px;
      height: 36px;
    }
  }
  .article__slider {
    padding-bottom: 40px;
  }
  .article__info-initialletter {
    font-size: 60px;
    line-height: 60px;
  }
  .article__info-quote {
    font-size: 16px;
  }
  .article__info-video iframe {
    height: 280px;
  }
  .article__banner {
    height: 380px;
  }
  .card__slider-titlebox {
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 20px;
  }
  .card__slider-title {
    margin-bottom: 5px;
    align-self: start;
  }
  // blog-about
  .card__item-link::after {
    width: 145px;
  }
  .top-blog__title {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .top-blog__titlebox {
    padding-top: 90px;
  }
  .top-blog {
    min-height: 340px;
    margin-bottom: 30px;
  }
  .banner-maximum {
    height: 380px;
  }
  .banner-maximum__title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .banner-maximum__discount {
    margin-bottom: 110px;
  }
  .filter__addbox-container {
    padding-left: 40px;
  }
  .filter__content-item {
    font-size: 17px;
  }
  // blog-main
  .banner-maximum__inner--main {
    text-align: center;
    padding: 40px 10px 30px 10px;
  }
  .banner-maximum__title--main {
    font-size: 22px;
  }
  .banner-maximum__suptitle {
    font-size: 16px;
  }
  .banner-maximum__text {
    font-size: 16px;
    margin-bottom: 180px;
  }
  .banner-maximum.banner-maximum--main {
    height: 420px;
  }
  .dropdown__button {
    font-size: 20px;
  }
  .filter__name {
    font-size: 20px;
  }
  .filter__content--open {
    max-width: 260px;
    left: 0;
  }
  .filter__content-submitbtn {
    width: 160px;
  }
  .filter__content-listwrapper {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .filter__content-list + .filter__content-list {
    margin-top: 15px;
  }
  // blog-main
  .blog-main__question {
    max-width: 173px;
    width: 100%;
  }
}

@media screen and (max-width: 355px) {
  .filter__addbox-container {
    padding-left: 30px;
  }
}

@media screen and (max-width: 335px) {
  .filter__addbox-container {
    padding-left: 20px;
  }
}

@media screen and (max-width: 320px) {
  .filter__addbox-container {
    padding-left: 10px;
  }
}
