@import "vars";

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1200px;
  }
  .watch__info-list {
    gap: 25px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 720px;
  }
  .watch__info-box,
  .watch__info-contentbox {
    display: none;
  }
  .watch__info-content {
    color: $black;
    font-weight: 400;
  }
  .watch__info-button.active {
    padding-left: 0;
  }
  .watch__mobile {
    display: block;
  }
  .watch__mobile-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    font-size: 24px;
    line-height: 130%;
  }
  .watch__info-button {
    max-width: none;
  }
  .watch__info-button span {
    font-weight: 600;
    display: inline-block;
  }
  .watch__info-arrow {
    transform: translateY(75%);
  }
  .watch__info-image {
    padding-top: 30px;
    display: block;
    img {
      width: 100%;
      max-width: none;
    }
  }
  .watch__title {
    font-size: 32px;
    line-height: 110%;
    margin-bottom: 40px;
  }
  .watch__info-text {
  }
  .watch__info-content {
    max-width: none;
  }
  .watch__info-included {
    padding-top: 0;
  }

  // blog-page
  .pagination {
    font-size: 25px;
    line-height: 30px;
  }
  .article__slider-img {
    img {
      height: 564px;
    }
  }
  .article__banner {
    padding: 70px 7px 0 30px;
  }
  .article__banner-title {
    font-size: 36px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .watch__info-item {
    font-size: 18px;
    line-height: 130%;
    max-width: 235px;
  }
  .watch__title {
    font-size: 28px;
  }
  .watch__question {
    font-size: 20px;
  }

  // blog-page
  .article__slider {
    margin-bottom: 10px;
  }
  .article__info-quote {
    max-width: 700px;
    font-size: 24px;
  }
  .article__info-video iframe {
    height: 364px;
  }
  .pagination {
    font-size: 16px;
  }
  .article {
    padding: 40px 0 60px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 375px;
  }
  .watch__question {
    font-size: 16px;
  }
  .watch__title {
    font-size: 24px;
    line-height: 110%;
    margin-bottom: 30px;
  }
  .watch__info-included {
    padding-bottom: 10px;
    font-size: 16px;
  }
  .watch__info-button span {
    font-size: 18px;
  }
  .watch__info-image {
    margin-bottom: 20px;
  }
  .watch__info-text {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .watch__info-item {
    max-width: none;
  }

  // blog-page
  .pagination__list {
    flex-wrap: wrap;
  }
  .article__choose-list {
    flex-wrap: wrap;
    gap: 10px;
  }
  .article__choose-item {
    margin-right: 0;
  }
  .article__title {
    font-size: 38px;
  }
  .article__slider-img img {
    height: 364px;
  }
  .article__slider .slick-next,
  .article__slider .slick-prev {
    transform: translateX(-10%);
  }
  .article__info-initialletter {
    font-size: 76px;
    line-height: 76px;
  }
  .article__info-signature {
    flex-wrap: wrap;
    gap: 5px;
  }
  .article__info-box {
    margin-bottom: 20px;
  }
  .article__info-quote {
    margin: 30px 0 10px;
    font-size: 18px;
    padding-right: 0;
  }
  .article__info-video {
    margin: 10px 0 25px;
  }
  .article__info-author {
    margin-bottom: 35px;
  }
  .article__banner-title {
    font-size: 20px;
  }
  .article__banner {
    padding: 90px 10px 0 20px;
  }
  .article__banner-btn {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  .container {
    max-width: 300px;
    width: 100%;
  }
  .watch__question {
    font-size: 14px;
  }
  .watch__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .watch__info-included {
    padding-bottom: 10px;
    font-size: 14px;
  }
  .watch__info-button span {
    font-size: 16px;
  }
  .watch__info-image {
    margin-bottom: 20px;
  }
  .watch__info-text {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .watch__info-arrow {
    right: 10px;
    top: 12px;
    svg {
      width: 24px;
      height: 24px;
    }
  }

  // blog-page
  .article__title {
    font-size: 24px;
  }
  .article__slider-img img {
    height: 280px;
  }
  .slick-arrow {
    img {
      width: 36px;
      height: 36px;
    }
  }
  .article__slider {
    padding-bottom: 40px;
  }
  .article__info-initialletter {
    font-size: 60px;
    line-height: 60px;
  }
  .article__info-quote {
    font-size: 16px;
  }
  .article__info-video iframe {
    height: 280px;
  }
  .article__banner {
    height: 380px;
  }
}
