@import "vars";
@import "reset";
@import "global";
@import "animate";
@import "../../node_modules/slick-slider/slick/slick";
@import "../../node_modules/swiper/swiper.min";

.watch {
  padding: 100px 0;
  &__inner {
  }
  &__question {
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 10px;
  }
  &__title {
    max-width: 920px;
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 110%;
    margin-bottom: 66px;
  }
  &__info {
    display: flex;
    flex-basis: 50%;
    font-size: 24px;
    line-height: 130%;
  }
  &__info-box {
    margin-right: 60px;
  }
  &__info-included {
    padding: 30px 0;
    font-size: 24px;
  }
  &__info-button,
  &__info-button--mob {
    max-width: 690px;
    width: 100%;
    text-align: left;
    font-weight: 600;
    line-height: 100%;
    padding: 30px 0;
    position: relative;
    transition: 0.3s ease;
    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      height: 1px;
      background: $black;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: -1px;
    }
    &.active {
      padding-left: 60px;
      color: $accent;
      z-index: 3;
      &::after,
      &::before {
        background: $accent;
      }
      &::after {
        bottom: -1px;
      }
      .watch__info-arrow {
        transform: translateY(65%) rotate(90deg);
        path {
          stroke: $accent;
        }
      }
    }
  }
  &__info-arrow {
    position: absolute;
    transition: 0.3s ease;
    top: 0;
    right: 30px;
    transform: translateY(85%);
  }
  &__info-contentbox {
    width: 100%;
    max-width: 650px;
  }
  &__info-content,
  &__info-content--m {
    transition: 0.3s ease;
    max-width: 650px;
  }
  &__info-content-active--m {
    display: block;
  }
  &__info-image {
    margin-bottom: 30px;
    display: inline-block;
  }
  &__info-text {
    max-width: 570px;
    margin-bottom: 25px;
  }
  &__info-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__info-item {
    max-width: 310px;
    width: 100%;
    position: relative;
    padding-left: 30px;
    font-size: 24px;
    line-height: 130%;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 6px;
      width: 20px;
      height: 20px;
      background-color: rgba($color: $accent, $alpha: 0.5);
      border: 3px solid $accent;
      border-radius: 50%;
    }
  }
  &__mobile {
    display: none;
  }
}

.breadcrubs {
  padding-top: 40px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  &__inner {
  }
  &__list {
    display: flex;
    align-items: center;
    color: rgba($color: $black, $alpha: 0.6);
  }
  &__list-top-blog {
    color: rgba($color: $white, $alpha: 0.6);
    .breadcrubs__item--active {
      color: $white;
    }
  }
  &__item {
    margin-right: 10px;
    margin-left: 10px;
  }
  &__item--active {
    color: $black;
  }

  &__link {
    margin-right: 0;
  }
}

.article {
  padding: 73px 0 120px;
  &__wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }
  &__choose {
    margin-bottom: 15px;
  }
  &__choose-list {
    display: flex;
    align-items: center;
  }
  &__choose-item {
    max-width: 93px;
    width: 100%;
    border: 1px solid #2d2a2a;
    border-radius: 15px;
    min-height: 23px;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    margin-right: 10px;
    padding: 2px 0;
    &:last-child {
      margin-right: 0;
    }
  }
  &__choose-item--active {
    max-width: 125px;
    background-color: $blue;
    border-radius: 7px;
    border: none;
  }
  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    margin-bottom: 15px;
  }
  &__dateandtime {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
    span {
      display: inline-block;
      margin: 0 15px;
    }
  }
  &__time {
    display: flex;
    align-items: center;
    color: $grey;
    img {
      padding-right: 8px;
    }
  }
  &__slider {
    text-align: center;
    position: relative;
    padding-bottom: 65px;
    margin-bottom: 40px;
    .slick-next,
    .slick-prev {
      position: absolute;
      bottom: 0;
      transform: translateX(-50%);
    }
    .slick-next {
      left: 50.5%;
    }
    .slick-prev {
      right: 50.5%;
    }
  }
  &__slider-img {
    max-width: 1380px;
    text-align: center;
  }
  &__info {
  }
  &__info-text {
    margin-bottom: 20px;
    max-width: 755px;
  }
  &__info-initialletter {
    font-size: 76px;
    line-height: 61px;
    font-weight: 700;
  }
  &__info-box {
    margin: 30px 0;
  }
  &__info-img {
    margin-bottom: 10px;
  }
  &__info-signature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    font-size: 14px;
    line-height: 140%;
  }
  &__info-signatureinfo {
  }
  &__info-signatureauthor {
  }
  &__info-quote {
    max-width: 755px;
    margin: 50px 0;
    color: #131314;
    position: relative;
    font-family: "Lato", sans-serif;
    padding: 5px 20px 0 20px;
    font-style: italic;
    font-weight: 500;
    font-size: 27px;
    line-height: 140%;
    min-height: 152px;

    &:after {
      content: "";
      width: 7px;
      background: $black;
      position: absolute;
      left: 0px;
      top: 0px;
      bottom: 20px;
    }
  }
  &__info-video {
    margin: 30px 0 50px;
    iframe {
      max-width: 1000px;
      border-radius: 25px;
      width: 100%;
      height: 500px;
    }
  }
  &__info-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 20px;
  }
  &__info-author {
    display: flex;
    align-items: center;
    gap: 20px;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 50px;
  }
  &__banner {
    background: url(../images/blog-page/banner.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1000px;
    width: 100%;
    height: 420px;
    padding: 70px 130px 0 80px;
    border-radius: 15px;
    text-transform: uppercase;
  }
  &__banner-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;
    color: $white;
    padding-bottom: 100px;
  }
  &__banner-btn {
    padding: 19px 74px;
    background-color: $orange;
    border-radius: 7px;
    transition: 0.3s ease;
    box-shadow: 3px 10px 15px 0px $black;
    font-weight: 500;
    &:active,
    &:hover {
      background-color: lighten($color: $orange, $amount: 7%);
      box-shadow: 0 0 0 $black;
    }
  }
}

.top-blog {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 500px;
  margin-bottom: 71px;
  &__inner {
  }
  &__titlebox {
    color: $white;
    padding-left: 220px;
    padding-top: 295px;
  }
  &__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0.02em;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  &__text {
    font-size: 17px;
    line-height: 120%;
  }
}

.content-blog {
  padding-bottom: 100px;
  &__inner {
  }
  &__filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    position: relative;
  }
  &__filter {
  }
  &__select {
    max-width: 243px;
    width: 100%;
  }
  &__select-item {
  }
}

.card__slider--page {
  .swiper-slide {
    width: 320px !important;
  }
  .card__slider-inner {
    overflow: hidden;
  }
}

.filter {
  padding: 5px 30px 5px 10px;
  background: $darkenwhite;
  border-radius: 10px;
  position: relative;
  height: 32px;
  &.active {
    &::after {
      transform: rotate(180deg);
    }
  }
  &::after {
    transition: 0.3s ease;
    content: "";
    position: absolute;
    right: 8px;
    top: 13px;
    background: url(../images/blog-about/arr-down.svg);
    width: 14px;
    height: 8px;
  }
  &__name {
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
  }
  &__content {
    margin-top: 8px;
    transition: 0.3s ease;
    display: none;
    background: $darkenwhite;
    max-width: 680px;
    width: 100%;
    height: 340px;
    padding: 20px;
    border-radius: 10px;
    box-sizing: content-box;
  }

  &__content-box--radio {
    max-width: 263px;
    width: 100%;
    margin-left: 99px;
  }
  &__content--open {
    position: absolute;
    top: 30px;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 1;
  }
  &__content-listwrapper {
    max-width: 263px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__content-titlebox {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__content-closebtn {
    padding: 0;
    display: none;
    transform: rotate(0);
    transition: 0.3s ease;
  }
  &__content-title {
    font-weight: 500;
    margin-bottom: 20px;
  }
  &__content-item {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 120%;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__content-clear {
    position: absolute;
    left: 20px;
    bottom: 25px;
    font-size: 12px;
  }
  &__content-submit {
    position: absolute;
    bottom: 25px;
    right: 23px;
  }
  &__content-submitbtn {
    font-size: 16px;
    padding: 10px 51px;
    border: 1px solid $black;
    border-radius: 7px;
  }

  &__content-btn {
    font-size: 12px;
    line-height: 100%;
    padding: 0;
    position: relative;
    padding-right: 17px;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 2px;
      background: url(../images/blog-about/x.svg);
      width: 9px;
      height: 9px;
    }
  }
  &__addbox {
    display: flex;
    align-items: center;
    max-width: 880px;

    width: 100%;
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  &__addbox--mob,
  &__addbox--table {
    display: none;
    align-items: center;
    max-width: 880px;

    width: 100%;
    overflow: hidden;
  }
  &__add {
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    font-size: 12px;
    // margin-right: 10px;
    border-radius: 7px;
    border: 1px solid $black;
    padding: 0 22px 0 6px;
    &::after {
      content: "";
      position: absolute;
      right: 5px;
      top: 8px;
      background: url(../images/blog-about/x.svg);
      width: 9px;
      height: 9px;
    }
  }
}

.radio {
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      cursor: pointer;
      &:before {
        content: "";
        background: transparent;
        border-radius: 100%;
        border: 1px solid $black;
        display: inline-block;
        width: 16px;
        height: 16px;
        position: relative;
        top: 5px;
        margin-right: 8px;
        cursor: pointer;
        text-align: center;
        transition: 0.3s ease;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: $black;
          box-shadow: inset 0 0 0 3px $darkenwhite;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: $black;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          border-color: $black;
          background: $black;
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  & + .checkbox {
    margin-top: 15px;
  }
  &__real {
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
    &:checked + .checkbox__fake {
      background: transparent;
    }
    &:checked + .checkbox__fake::before {
      content: "";
      background: $black;
      width: 17px;
      height: 18px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url(../images/blog-about/check.svg) no-repeat;
    }
  }
  &__fake {
    width: 15px;
    height: 15px;
    background: transparent;
    border: 1px solid $black;
    display: inline-block;
    position: relative;
    margin-right: 10px;
  }
}

.select {
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 10px 35px 10px 15px;
  outline: none;
  cursor: pointer;
}
.select::-ms-expand {
  display: none;
}
.select-wrapper {
  position: relative;
}
.dropdown {
  position: relative;
}
.dropdown__button {
  position: relative;
  outline: none;
  display: block;
  text-align: left;
  max-width: 243px;
  width: 100%;

  background-color: $darkenwhite;
  border-radius: 15px;
  padding: 5px 30px 5px 10px;
  font-size: 18px;
  line-height: 120%;
  cursor: pointer;
  text-transform: uppercase;
}

.dropdown__button::after {
  transition: 0.3s ease;
  content: "";
  position: absolute;
  right: 8px;
  top: 13px;
  background: url(../images/blog-about/arr-down.svg);
  width: 14px;
  height: 8px;
}
.dropdown__list {
  display: none;
  position: absolute;
  left: 0;
  top: 31px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: $darkenwhite;

  overflow: hidden;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  z-index: 1;
  text-transform: uppercase;
}
.dropdown__list-item {
  padding: 0;
  margin: 0;
  padding: 13px 10px;
  border-bottom: 0;
  cursor: pointer;
  transition: 0.3s ease;
  color: rgba($black, 0.2);
}

.dropdown__list-item:hover {
  color: $black;
}
.dropdown__list-visible {
  display: block;
}
.dropdown__button.dropdown__button--active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  &::after {
    transform: rotate(180deg);
  }
}
.dropdown__input-hidden {
  display: none;
}

.card {
  &__slider {
    padding-bottom: 120px;
  }
  &__slider-inner {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  &__slider-titlebox {
    display: flex;
    justify-content: space-between;
  }
  &__slider-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    margin-bottom: 40px;
  }
  &__slider-prompt {
    animation-name: cursorMove;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    display: none;
    img {
      width: 30px;
      height: 30px;
    }
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 20px;
    max-width: 1000px;
    margin: 0 auto;
  }
  &__item-boxlink {
  }
  &__inner-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
  }
  &__item {
    max-width: 320px;
    box-shadow: 4px 2px 11px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    height: 525px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__item-box {
    flex: 0 1 auto;
    padding: 15px 10px 0;
  }

  &__item-img {
    position: relative;
    flex: 0 1 auto;
    max-width: 320px;
    height: 320px;
    display: flex;
    align-items: flex-end;
    picture {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
    img {
      border-radius: 15px 15px 0px 0px;
    }
  }
  &__item-tags {
    padding: 0 0 15px 10px;
    width: 100%;
  }
  &__item-tag {
    display: inline-block;
    max-width: 125px;
    width: 100%;
    text-align: center;
    bottom: 15px;
    left: 10px;
    font-size: 16px;
    line-height: 120%;
    padding: 2px 0;
    border-radius: 7px;
    margin-right: 5px;
  }
  &__item-tag--kamchatka {
    background: $blue;
  }
  &__item-tag--africa {
    background: $lightorange;
  }
  &__item-tag--netherlands {
    background: $purple;
  }
  &__item-tag--other {
    background: $lightwhite;
  }

  &__dateandtime {
    display: flex;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.05em;
    margin-bottom: 17px;
    span {
      display: inline-block;
      margin: 0 15px;
    }
  }
  &__time {
    display: flex;
    align-items: center;
    color: $grey;
    img {
      padding-right: 8px;
    }
  }
  &__item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 10px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &__item-text {
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 27px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden; /* Обрезаем всё за пределами блока */
  }
  &__item-linkwrapper {
    display: flex;
    align-items: flex-end;
    padding: 0 10px 20px 10px;
  }
  &__item-link {
    margin: auto;
    flex: 1 0 auto;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-align: right;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 150px;
      height: 1px;
      background-color: $black;
    }
  }
}

.banner-maximum {
  margin: 50px auto;
  max-width: 1000px;
  width: 100%;
  height: 420px;
  &__inner {
    text-align: right;
    color: $white;
  }
  &__title {
    padding: 64px 179px 0 61px;
    font-weight: 900;
    font-size: 52px;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 64px;
  }
  &__discount {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.25);
    margin-bottom: 50px;
    padding-right: 60px;
    span {
      font-weight: 900;
      font-size: 40px;
      line-height: 80%;
    }
  }
  &__btnwrapper {
    padding-right: 221px;
    padding-bottom: 92px;
  }
  &__btn {
    padding: 19px 74px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    background-color: $orange;
    border-radius: 7px;
    color: $black;
  }
}
.banner-maximum.banner-maximum--main {
  display: flex;
  justify-content: start;
  align-items: start;
}
.banner-maximum__inner--main {
  color: $white;
  text-align: left;
  padding: 40px;
  width: 100%;
  height: 100%;
}
.banner-maximum__suptitle {
  font-size: 20px;
  line-height: 100%;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.banner-maximum__title--main {
  font-weight: 900;
  font-size: 42px;
  line-height: 100%;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.banner-maximum__text {
  margin-bottom: 150px;
  max-width: 280px;
}

.more-btn {
  text-align: center;
  width: 100%;
  border: 1px solid $black;
  border-radius: 7px;
  padding: 15px 0;
}

.pagination {
  padding: 20px 0;
  &__inner {
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba($color: $black, $alpha: 0.2);
  }
  &__item {
    padding-right: 15px;
    &:last-child {
      padding-right: 0;
    }
  }
  &__item--current {
    color: $black;
  }
}

.card__item-tag + .card__item-tag {
  margin-top: 5px;
}

.swiper-pagination-bullet {
  width: auto;
  background: transparent;
}

.ticker {
  display: flex;
  animation: ticker 20s linear infinite;
  animation-fill-mode: forwards;
  transition: 0.3s ease;
}

.ticker__item {
  width: 451px;
  overflow: hidden;
  cursor: pointer;
  font-weight: 900;
  font-size: 72px;
  line-height: 100%;
  text-align: center;

  margin-right: 60px;
  text-transform: uppercase;
  color: #fff;

  -webkit-text-stroke: 1px #000;

  transition: 0.3s ease;
}
.ticker__item:hover {
  -webkit-text-stroke: 1px transparent;
  color: #000;
}

@keyframes ticker {
  0% {
    transform: translateZ(200%);
  }
  100% {
    transform: translate3d(-400%, 0, 0);
  }
}

.stop {
  animation-play-state: paused;
}

.blog-main__slider {
  .swiper-slide {
    transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
  }
}

.blog-main {
  &__inner {
    position: relative;
  }
  &__list {
    position: absolute;
    z-index: 3;
    top: 68px;
    left: 30px;

    color: $white;
    font-size: 12px;
    line-height: 100%;
  }
  &__item {
    display: block;
  }
  &__slider {
    padding-bottom: 90px;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  &__slider-img {
    width: 100%;
    height: 500px;
  }
  &__question {
    position: absolute;
    bottom: 190px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
  }
}
.breadcrubs__list-blog-main {
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 3;
  color: rgba($color: $white, $alpha: 0.6);
  .breadcrubs__item--active {
    color: $white;
  }
}
.breadcrubs.breadcrubs-blog-main {
  padding: 0;
}

.swiper-pagination {
  padding-top: 100px;
  display: flex;
  position: relative;
  left: -1200px;
}

@keyframes cursorMove {
  0% {
    transform: scale(1.2);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
  }

  50% {
    visibility: hidden;
    transform: translateX(-60px) scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-62px) scale(1) scale(1.2);
  }
}

@import "media";
